<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
</html>
<head>
    <meta charset="utf-8"/>
    <title>Hotel rooms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid ">
    <div th:replace="header.html :: header">></div>


    <div class="row justify-content-md-center">
        <div class="col-9">

            <div class="row">

                <div class="col-3 ">
                    <form action="/order" method="post">
                    <div class="mb-3">
                            <label for="start" class="form-label">Check-in date</label>
                            <input type="date" class="form-control" id="start" name="startRent"
                                   th:value="${#temporals.format(curDate, 'yyyy-MM-dd')}"
                                   th:min="${#temporals.format(curDate, 'yyyy-MM-dd')}"
                                   th:max="${#temporals.format(maxReservation, 'yyyy-MM-dd')}">
                    </div>
                    <div class="mb-3">
                        <label for="end" class="form-label">Check-out date</label>
                        <input type="date" class="form-control" id="end" name="endRent"
                               th:value="${#temporals.format(nextDay, 'yyyy-MM-dd')}"
                               th:min="${#temporals.format(nextDay, 'yyyy-MM-dd')}"
                               th:max="${#temporals.format(maxReservationEnd, 'yyyy-MM-dd')}">
                    </div>
                    <select class="form-select" aria-label="Default select example" name="capacity" id="capacity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <div class="d-grid gap-2" style="margin-top: 20px">
                        <button class="btn btn-dark" type="submit" sec:authorize="hasAuthority('USER')">Order</button>
                        <button class="btn btn-dark" type="button" onclick="sendFilter()" >Button</button>
                    </div>
                    </form>
                </div>

                <div class="col-9">
                    <div class="btn-group d-flex data-sticky-header" role="group"
                         aria-label="Basic radio toggle button group">
                        <button value="price" class="btn btn-outline-dark "
                           th:classappend="${sortType.equals('price')} ? active" onclick="sendSortMethod('price')"><span th:text="#{price}"></span></button>
                        <button value="capacity" class="btn btn-outline-dark"
                           th:classappend="${sortType.equals('capacity')} ? active" onclick="sendSortMethod('capacity')"> <span th:text="#{capacity}" ></span></button>
                        <button value="roomClass" class="btn btn-outline-dark"
                           th:classappend="${sortType.equals('roomClass')} ? active" onclick="sendSortMethod('roomClass')"><span
                                th:text="#{room.type}"></span></button>
                        <button value="status" class="btn btn-outline-dark"
                           th:classappend="${sortType.equals('status')} ? active" onclick="sendSortMethod('status')"><span th:text="#{status}"></span></button>
                    </div>
                    <div class="border border-dark rounded-3" th:each="room:${rooms}" style="margin-top: 15px">
                        <div class="row">
                            <div class="col-4"><img
                                    src="https://cf.bstatic.com/xdata/images/hotel/square600/206746877.webp?k=d74256bd5ef7331794fc0c855aca6735f9fdd1b24e1856f10ce493d2e2bbf510&o="
                                    width="200" height="200" style="border-radius: 3px; margin: 7px"></div>
                            <div class="col-6">
                                <h5 class="h5 text-center"><span
                                        th:text="(${locale.toString().equals('en')} ? ${room.roomNameEn}:${room.roomNameUa})"></span>
                                </h5>
                                <p>Room: <span th:text="${room.roomClass}"></span></p>
                                <p>Capacity:<span th:text="${room.capacity}"></span></p>
                                <p>Cost: <span th:text="${room.price}"></span></p>
                                <p> <span th:if="${room instanceof T(com.example.hotelSpring.entity.RoomAndOrder)}" th:text="${room.status }"></span></p>

                            </div>
                            <div class="col-2 py-5">
                                <button class="btn btn-dark" type="button" th:value="${room.id}">Button</button>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li th:if="${rooms.totalPages > 0}" class="page-item"
                                th:each="pageNumber : ${pageNumbers}">
                                <a th:href="@{/( page=${pageNumber})}"
                                   th:text=${pageNumber} class="page-link"></a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <form th:action="@{/login.html}" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Login</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <p th:if="${loginError}" class="error">Wrong user or password</p>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" required="required">
                    </div>
                    <div class="form-group">
                        <div class="clearfix">
                            <label>Password</label>
                        </div>

                        <input type="password" class="form-control" required="required">
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <input type="submit" class="btn btn-primary" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal HTML registration-->
<div id="myModalRegistry" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <form id="registration" >
                <div class="modal-header">
                    <h4 class="modal-title">Login</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" name="userName" class="form-control" required="required">
                    </div>
                    <div class="form-group">
                        <div class="clearfix">
                            <label>Password</label>
                        </div>

                        <input type="password" name="password" class="form-control" required="required">
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <input type="submit" class="btn btn-primary" value="Registration">
                </div>
                <span id="messageOk" style="color:green"></span>
                <span id="messageEr" style="color:red"></span>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

    function sendFilter() {
        let url=new URL(window.location.href);
        let params = url.searchParams;
        let startRent=document.getElementById('start').value;
        let endRent=document.getElementById('end').value;
        let capacity=document.getElementById('capacity').value;
        params.set('startRent',startRent);
        params.set('endRent',endRent);
        params.set('capacity',capacity);
        url.search=params.toString();
        window.location.href = url;
    }

    function sendSortMethod(val){
        let url=new URL(window.location.href);
        let params = url.searchParams;
        params.set('sort',val);
        url.search=params.toString();
        window.location.href = url;
    }

    const exampleForm = document.getElementById("registration");
    exampleForm.addEventListener("submit", handleFormSubmit);

    async function handleFormSubmit(event) {
        event.preventDefault();
        let form = event.currentTarget;
        const url = "/registration";
        const formData = new FormData(form);
        await postFormDataAsJson({url, formData});

    }

    async function postFormDataAsJson({url, formData}) {

        const plainFormData = Object.fromEntries(formData.entries());
        const formDataJsonString = JSON.stringify(plainFormData);
        const fetchOptions = {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            body: formDataJsonString,
        };

        const response = await fetch(url, fetchOptions);

        if (response.ok) {
            const message = await response.text();
            $('#messageOk').text(message);
        }else {
            const message = await response.text();
            $('#messageEr').text(message);
        }

        return response.json();
    }
</script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>